if TARGET_DRA7XX_EVM

config SYS_BOARD
	default "dra7xx"

config SYS_VENDOR
	default "ti"

config SYS_CONFIG_NAME
	default "dra7xx_evm"

config CONS_INDEX
	int "UART used for console"
	range 1 6
	default 1
	help
	  The DRA7xx (and AM57x) SoC has a total of 6 UARTs available to it.
	  Depending on your specific board you may want something other than UART1
	  here.

config TARGET_DRA7XX_EVM_VISION
	bool "Vision daughter card support"

menu "Early Boot/Late Attach"

config LATE_ATTACH
	bool "Enable late attach"
	default n
	help
	  Enable this flag if you want to boot remotecores(M4/DSP) from
	  SPL. The specific cores loaded is controlled by the array
	  cores_to_boot[] in spl.c. Currently only ELF format
	  binaries are supported for loading.


config LATE_ATTACH_GPT_PART
	bool "Enable loading remotecore binaries from GPT partitions"
	depends on LATE_ATTACH
	default n
	help
	  In case of Linux boot, the binaries are read from the FAT parition of
	  the eMMC or SD card based on the boot media. Android uses GPT partitions
	  on eMMC for storing the binaries. Enable this option to read remotecore
	  binaries from GPT partitions.


config LATE_ATTACH_DMA_POOL
	bool "Enable using a DMA pool instead of a CMA pool"
	depends on LATE_ATTACH
	default n
	help
	  It may be desireable to define the reserved memory as no-map rather
	  than as reusable in order to prevent access by other kernel modules to
	  the memory before the remoteproc driver has a chance to allocate from
	  the CMA pool and reclaim the memory. In this way the memory is reserved
	  explicitly for the remote core and kernel cannot allocate from it even
	  when not in use by remoteproc.

endmenu

source "board/ti/common/Kconfig"

endif
